Repository PedroChaparro/loomies-mobile, pull requests merged in 2023-04, with the labels that each got.

#55 Feat: Inventory grid
  assets/images/items/001.png
  assets/images/items/002.png
  assets/images/items/003.png
  assets/images/items/004.png
  assets/images/items/005.png
  assets/images/items/006.png
  assets/images/items/007.png
  assets/images/items/008.png
  assets/images/items/009.png
  assets/images/items/010.png
  src/components/Container.tsx
  src/components/ItemsGrid/ItemCard.tsx
  src/components/ItemsGrid/ItemsGrid.tsx
  src/pages/UserInventory.tsx
  src/services/user.services.ts
  src/skeletons/ItemsGrid/ItemCardSkeleton.tsx
  src/skeletons/ItemsGrid/ItemsGridSkeleton.tsx
  src/types/types.ts
  src/utils/utils.ts
Labels: frontend, item inventory

#56 Feat: Interact with Loomie / Gyms in map 3D
  .env.example
  assets/models/map/gym/gym.blend
  assets/models/map/gym/gym.glb
  src/App.tsx
  src/components/Map3D/Map3DEngine.tsx
  src/components/MapElementManager/MapElementManager.tsx
  src/components/MapElementManager/utilsElementInteraction.ts
  src/context/ModelProvider.tsx
  src/hooks/useScenePointerObservable.tsx
  src/navigation/RootNavigation.tsx
  src/pages/CaptureView.tsx
  src/services/config.services.ts
  src/services/map.services.ts
  src/types/env.d.ts
  src/types/mapInterfaces.ts
  src/types/requestInterfaces.ts
Labels: frontend, loomie inventory, geolocation, gymnasium, 3D

#52 Feat: Loomies details
  .env.example
  src/components/CaughtLoomiesGrid/CaughtLoomieCard.tsx
  src/components/CaughtLoomiesGrid/LoomiesGrid.tsx
  src/components/LoomieDetails/Loomie3DModelPreview.tsx
  src/components/LoomieDetails/LoomieLevelBar.tsx
  src/components/LoomieDetails/LoomieStatsTable.tsx
  src/components/LoomieDetails/LoomieTypes.tsx
  src/components/Map3D/Map3DEngine.tsx
  src/context/BabylonProvider.tsx
  src/context/ModelProvider.tsx
  src/hooks/useEngineRenderLoop.tsx
  src/navigation/StackNavigation.tsx
  src/pages/LoomieDetails.tsx
  src/pages/MapView.tsx
  src/pages/UserLoomies.tsx
  src/services/modelLoader.services.ts
  src/types/env.d.ts
  src/types/types.ts
  src/utils/utils.ts
Labels: frontend, loomie inventory, 3D

#60 Feat: Items details modal
  package.json
  src/components/ItemsGrid/ItemsGrid.tsx
  src/components/Modals/ItemDetailsModal.tsx
  yarn.lock
Labels: frontend, item inventory

#54 Feat: Update loomie team
  package.json
  src/components/CaughtLoomiesGrid/CaughtLoomieCard.tsx
  src/components/CaughtLoomiesGrid/LoomiesGrid.tsx
  src/components/Title.tsx
  src/hooks/useToastAlert.tsx
  src/navigation/StackNavigation.tsx
  src/pages/UpdateLoomieTeamView.tsx
  src/pages/UserLoomies.tsx
  src/services/user.services.ts
  src/types/types.ts
  yarn.lock
Labels: frontend, loomie inventory, battle

#61 Feat: Dialog to claim reward
  src/components/Map3D/Map3DEngine.tsx
  src/components/MapElementManager/MapElementManager.tsx
  src/components/MapElementManager/utilsElementInteraction.ts
  src/components/ModalDialogs/ModalGym.tsx
  src/components/ModalDialogs/ModalRewards.tsx
  src/context/GymsModalContext.tsx
  src/pages/MapView.tsx
  src/services/map.services.ts
  src/types/requestInterfaces.ts
  src/types/types.ts
Labels: frontend, item inventory, gymnasium

#63 Fix: Fix Caught Loomies Card components
  src/components/CaughtLoomiesGrid/CaughtLoomieCard.tsx
  src/components/CaughtLoomiesGrid/LoomiesGrid.tsx
  src/components/Modals/FuseLoomiesModal.tsx
  src/pages/LoomieDetails.tsx
  src/pages/UpdateLoomieTeamView.tsx
  src/pages/UserLoomies.tsx
  src/types/types.ts
Labels: bug, frontend, loomie inventory

#65 Fix: Loomies experience bar
  src/utils/utils.ts
Labels: bug, loomie inventory

#66 Feat: Logout
  src/components/Modals/Gyms/ModalGym.tsx
  src/components/Modals/Gyms/ModalRewards.tsx
  src/components/Modals/LogoutConfirmationModal.tsx
  src/hooks/useAuth.tsx
  src/pages/Login.tsx
  src/pages/MapView.tsx
  src/pages/Profile.tsx
Labels: bug, frontend, Auth

#71 Fix: build
  .github/workflows/deployment.yml
  .gitignore
  README.md
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  assets/models/loomies/001.glb
  assets/models/loomies/002.glb
  assets/models/loomies/003.glb
  assets/models/loomies/004.glb
  assets/models/loomies/005.glb
  assets/models/loomies/006.glb
  assets/models/loomies/007.glb
  assets/models/loomies/008.glb
  assets/models/loomies/009.glb
  assets/models/loomies/010.glb
  assets/models/loomies/011.glb
  assets/models/loomies/012.glb
  assets/models/loomies/013.glb
  assets/models/loomies/014.glb
  assets/models/loomies/015.glb
  assets/models/loomies/016.glb
  assets/models/loomies/017.glb
  assets/models/loomies/018.glb
  assets/models/loomies/019.glb
  assets/models/map/circleIndicator.glb
  assets/models/map/player.glb
  assets/modelsSource/001/001.blend
  assets/modelsSource/002/002.blend
  assets/modelsSource/003/003.blend
  assets/modelsSource/004/004.blend
  assets/modelsSource/005/005.blend
  assets/modelsSource/006/006.blend
  assets/modelsSource/007/007.blend
  assets/modelsSource/008/008.blend
  assets/modelsSource/009/009.blend
  assets/modelsSource/010/010.blend
  assets/modelsSource/011/011.blend
  assets/modelsSource/012/012.blend
  assets/modelsSource/013/013.blend
  assets/modelsSource/014/014.blend
  assets/modelsSource/015/015.blend
  assets/modelsSource/016/016.blend
  assets/modelsSource/017/017.blend
  assets/modelsSource/018/018.blend
  assets/modelsSource/019/019.blend
  assets/modelsSource/map/gym/gym.blend
  assets/modelsSource/map/indicator/mapIndicator.blend
  assets/modelsSource/map/indicator/tex_indicator.png
  babel.config.js
  ios/Loomies.xcodeproj/project.pbxproj
  ios/Loomies/Info.plist
  package.json
  react-native.config.js
  src/navigation/StackNavigation.tsx
  src/services/config.services.ts
  src/services/modelLoader.services.ts
  src/types/env.d.ts
  src/utils/utils.ts
  yarn.lock
Labels: bug, frontend, CD

#64 Dialogue Fuse Loomies
  src/components/EmptyMessage.tsx
  src/components/Modals/FuseLoomiesModal.tsx
  src/pages/LoomieDetails.tsx
  src/pages/UserLoomies.tsx
  src/services/user.services.ts
Labels: frontend, loomie inventory

#73 Feat: Loomie 3D Capture
  .eslintrc.json
  assets/images/ui/loomball.png
  assets/models/environments/grass.glb
  assets/models/loomballs/loomball1.glb
  assets/models/loomballs/loomball2.glb
  assets/models/loomballs/loomball3.glb
  assets/modelsSource/environments/grass/grass.blend
  assets/modelsSource/loomballs/loomball/loomball.blend
  assets/modelsSource/loomballs/loomball/tex_Layer0.png
  assets/modelsSource/loomballs/loomball/tex_Layer1.png
  assets/modelsSource/loomballs/loomball/tex_Layer2.png
  assets/modelsSource/loomies/001/001.blend
  assets/modelsSource/loomies/002/002.blend
  assets/modelsSource/loomies/003/003.blend
  assets/modelsSource/loomies/004/004.blend
  assets/modelsSource/loomies/005/005.blend
  assets/modelsSource/loomies/006/006.blend
  assets/modelsSource/loomies/007/007.blend
  assets/modelsSource/loomies/008/008.blend
  assets/modelsSource/loomies/009/009.blend
  assets/modelsSource/loomies/010/010.blend
  assets/modelsSource/loomies/011/011.blend
  assets/modelsSource/loomies/012/012.blend
  assets/modelsSource/loomies/013/013.blend
  assets/modelsSource/loomies/014/014.blend
  assets/modelsSource/loomies/015/015.blend
  assets/modelsSource/loomies/016/016.blend
  assets/modelsSource/loomies/017/017.blend
  assets/modelsSource/loomies/018/018.blend
  assets/modelsSource/loomies/019/019.blend
  src/components/CaptureLoomie3D/CaptureLoomie3D.tsx
  src/components/CaptureLoomie3D/CaptureSM.ts
  src/components/CaptureLoomie3D/animations.ts
  src/components/CaptureLoomie3D/utilsAnimations.ts
  src/components/LoomieDetails/Loomie3DModelPreview.tsx
  src/components/Map3D/Map3D.tsx
  src/components/Map3D/Map3DEngine.tsx
  src/components/Map3D/utilsVertex.ts
  src/components/MapElementManager/MapElementManager.tsx
  src/components/MapElementManager/utilsElementInteraction.ts
  src/context/BabylonProvider.tsx
  src/context/MapProvider.tsx
  src/context/ModelProvider.tsx
  src/hooks/useRegisterBeforeRender.tsx
  src/navigation/StackNavigation.tsx
  src/pages/CaptureView.tsx
  src/pages/LoomieDetails.tsx
  src/pages/MapView.tsx
  src/pages/UserInventory.tsx
  src/services/capture.services.ts
  src/services/modelLoader.services.ts
  src/services/user.services.ts
  src/types/requestInterfaces.ts
  src/types/types.ts
  src/utils/utils.ts
Labels: frontend, loomie inventory, item inventory, geolocation, 3D

#77 Style: Fix loomies cards shadow / elevation
  src/components/CaughtLoomiesGrid/CaughtLoomieCard.tsx
Labels: bug, frontend, loomie inventory

#68 Create LICENSE
  LICENSE
Labels: frontend

#79 Feat: Combat: Websocket, UI, and Use items
  .env.example
  package.json
  src/components/CaptureLoomie3D/utilsAnimations.ts
  src/components/Combat/CombatFloatingMessage.tsx
  src/components/Combat/CombatLoomieInfo.tsx
  src/components/Combat/CombatUI.tsx
  src/components/Combat/combatStyles.ts
  src/components/Combat/combatUtils.ts
  src/components/Gap.tsx
  src/components/ItemsGrid/ItemCard.tsx
  src/components/ItemsGrid/SelectItemGrid.tsx
  src/components/Map3D/Map3DEngine.tsx
  src/components/Modals/Combat/CombatEscapeModal.tsx
  src/components/Modals/Combat/SelectItemDetailsModal.tsx
  src/components/Modals/Combat/SelectItemModal.tsx
  src/components/Modals/GenericModal.tsx
  src/components/Modals/Gyms/ModalGym.tsx
  src/context/BabylonProvider.tsx
  src/context/UserPositionProvider.tsx
  src/pages/CombatView.tsx
  src/pages/UserInventory.tsx
  src/services/combat.services.ts
  src/services/config.services.ts
  src/services/items.services.ts
  src/types/combatInterfaces.ts
  src/types/requestInterfaces.ts
  src/types/types.ts
  src/utils/delay.ts
  src/utils/utils.ts
  yarn.lock
Labels: frontend, battle, gymnasium

#86 Fix: Extra requests
  src/components/Modals/FuseLoomiesModal.tsx
  src/pages/UpdateLoomieTeamView.tsx
Labels: bug, frontend
